<header id="header">
  <h1>學生計算機年會</h1>
</header>

<div class="container">
  <article id="ideas">
    <h2 class="hide">理念</h2>
    <p>
      學生的身分，對你而言代表著什麼？
    </p>
    <p>
        在日常生活中，你可曾有對資訊科學的憧憬，希望能認識更多同好、吸收新知？或是已經憑藉自身技藝遨遊於天際，在尋找展現自己的舞台、分享實務經驗？學生計算機年會能夠滿足你的一切！以學生為本、由學生自發舉辦，學生計算機年會（SITCON）不只是學生「學以致用、教學相長」的實際展現，更冀望所有對資訊有興趣的學生，能夠在年會裏齊聚一堂，彼此激盪、傳承、啟發。
    </p>
  </article>
  <article id="events">
    <h2>活動</h2>

    <dl>
      <div class="segment">
        <dt>The Open Source Way 開源之道工作坊 - Coder </dt>
        <dd>
          <p>
            本活動係由 OSSF 與 政治大學資訊科學系、教育部軟體人才培育計畫 - 社群網路運算與服務 及 學生計算機年會 SITCON 共同主辦。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 12 月 28 日 10:00 - 18:00,
            <span class="label">地點</span> CLBC（台北市大安區復興南路一段 293 號 4F）
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/415" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>The Open Source Way 開源之道工作坊 - Promoter</dt>
        <dd>
          <p>
            本活動係由 OSSF 與 政治大學資訊科學系、教育部軟體人才培育計畫 - 社群網路運算與服務 及 學生計算機年會 SITCON 共同主辦。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 12 月 21 日 10:00 - 18:00,
            <span class="label">地點</span> CLBC（台北市大安區復興南路一段 293 號 4F）
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/414" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>SITCON workshop@NTUST Titanium mobile進化攻防戰 Alloy MVC</dt>
        <dd>
          <p>
            Titanium Alloy 是Appcelerator Titanium的MVC框架，透過Node JS NPM(Node Package Manager)進行安裝，與以往的基本結構不同，Alloy使 用.js、.tss、.xml做Model、View、Controller架構，使程式碼達到重複利用與可維護性更佳，並得以快速開發出能在Android以及iOS上的App。
          </p>
          <p>
            沒接觸過APP的同學們也歡迎參加
          </p>
          <p>
            本教學將以Titanium Alloy做基本延伸，介紹MVC架構、Backbone JS、TSS樣式與XML元素，透過Titanium Alloy學習框架製程、樣式開發與樣板規則等各大領域的技巧。
          </p>
          <div class="meta">
              <span class="label">時間</span> 2013 年 10 月 16 日 18:30 - 21:00,
            <span class="label">地點</span> 國立台灣科技大學研揚 TR214,
            <span class="label">詳細資訊</span> <a href="https://kktix.com/events/4928df" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>HackGen Workshop - 歡迎來到 GitHub 新手村（大同場）</dt>
        <dd>
          <p>
            版本控制是現代攻城屍打怪（程式開發）不可或缺的一環，而眾多的武器（版本控制系統）中 Git 更是不二人選。因 Git 而生的 GitHub 帝國聚集了各路的英雄好漢在此組隊練功解任務，不知道怎麼起步的初心者們快來新手村吧！
          </p>
          <p>
            課堂前請先註冊 GitHub 帳號成為 GitHub 帝國中的一員。若您使用自己的筆電請向 NPC 領取新手裝備完成 Git 相關環境安裝。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 10 月 3 日 18:00 - 21:00,
            <span class="label">地點</span> 大同大學尚志大樓 811 教室,
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/396" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>HackGen Workshop - 歡迎來到 GitHub 新手村（政大場）</dt>
        <dd>
          <p>
            版本控制是現代攻城屍打怪（程式開發）不可或缺的一環，而眾多的武器（版本控制系統）中 Git 更是不二人選。因 Git 而生的 GitHub 帝國聚集了各路的英雄好漢在此組隊練功解任務，不知道怎麼起步的初心者們快來新手村吧！
          </p>
          <p>
            課堂前請先註冊 GitHub 帳號成為 GitHub 帝國中的一員。若您使用自己的筆電請向 NPC 領取新手裝備完成 Git 相關環境安裝。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 10 月 2 日 18:00 - 21:00,
            <span class="label">地點</span> 政治大學大仁樓 4 樓 - 200401 PCLab,
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/395" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
    </dl>

  </article>
</div>
