<header id="header">
  <h1>學生計算機年會</h1>
</header>

<div class="container">
  <article id="ideas">
    <h2 class="hide">理念</h2>
    <p>
        技術力就是你的超能力！除了豐富的年會議程，SITCON 的夥伴們也與各校的社群成員合辦了不少工作坊；從初心者到大法師，SITCON Workshop 定能讓你收獲滿滿，在輕鬆的氣氛中砥礪自己的能力、認識更多社群好友，儲備展翼飛翔的能量！
    </p>
  </article>
  <article id="events">
    <h2>活動</h2>

    <dl>
      <div class="segment">
        <dt>The Open Source Way 開源之道工作坊 - Coder </dt>
        <dd>
          <p>
            “Open Source”? 對資訊人而言既熟悉又陌生的「開放原始碼」，到底是怎麼一回事？無論是初次接觸 open source 的朋友，或是希望更了解開放原始碼相關技術的夥伴，都歡迎報名「開源之道工作坊」，一起深入淺出的遨遊於開源的自由世界！
          </p>
          <p>
            本活動係由 OSSF 與 政治大學資訊科學系、教育部軟體人才培育計畫 - 社群網路運算與服務 及 學生計算機年會 SITCON 共同主辦。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 12 月 28 日 10:00 - 18:00,
            <span class="label">地點</span> CLBC（台北市大安區復興南路一段 293 號 4F）
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/415" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>The Open Source Way 開源之道工作坊 - Promoter</dt>
        <dd>
          <p>
            「Open source 是什麼？可以吃嗎？」你可能聽過「開放原始碼」，知道有很多免費好用的軟體，可是「開源」到底是怎麼一回事？當個「開源人」一定要會寫程式嗎？⋯⋯開放原始碼其實沒有那麼難！歡迎報名「開源之道工作坊」，一起深入淺出的遨遊於開源的自由世界。
          </p>
          <p>
            本活動係由 OSSF 與 政治大學資訊科學系、教育部軟體人才培育計畫 - 社群網路運算與服務 及 學生計算機年會 SITCON 共同主辦。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 12 月 21 日 10:00 - 18:00,
            <span class="label">地點</span> CLBC（台北市大安區復興南路一段 293 號 4F）
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/414" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>SITCON Workshop @ NTUST: Titanium Mobile 進化攻防戰 - Alloy MVC</dt>
        <dd>
          <p>
            Titanium Alloy 是 Appcelerator Titanium 的 MVC 框架，使用.js、.tss、.xml 實作；除了提升程式碼的質量，更能快速開發能在 Android 及 iOS 上執行的 App。此次活動以 Titanium Alloy 為出發點，介紹 MVC 架構、Backbone.js、TSS 樣式與 XML 元素；並透過 Titanium Alloy 學習框架製程、樣式開發與樣板規則等各大領域的技巧。
          </p>
          <div class="meta">
              <span class="label">時間</span> 2013 年 10 月 16 日 18:30 - 21:00,
            <span class="label">地點</span> 國立台灣科技大學研揚 TR214,
            <span class="label">詳細資訊</span> <a href="https://kktix.com/events/4928df" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>HackGen Workshop - 歡迎來到 GitHub 新手村（大同場）</dt>
        <dd>
          <p>
            版本控制是現代攻城屍打怪（程式開發）不可或缺的一環，而眾多的武器（版本控制系統）中 Git 更是不二人選。因 Git 而生的 GitHub 帝國聚集了各路的英雄好漢在此組隊練功解任務，不知道怎麼起步的初心者們快來新手村吧！
          </p>
          <p>
            課堂前請先註冊 GitHub 帳號成為 GitHub 帝國中的一員。若您使用自己的筆電請向 NPC 領取新手裝備完成 Git 相關環境安裝。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 10 月 3 日 18:00 - 21:00,
            <span class="label">地點</span> 大同大學尚志大樓 811 教室,
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/396" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
      <div class="segment">
        <dt>HackGen Workshop - 歡迎來到 GitHub 新手村（政大場）</dt>
        <dd>
          <p>
            版本控制是現代攻城屍打怪（程式開發）不可或缺的一環，而眾多的武器（版本控制系統）中 Git 更是不二人選。因 Git 而生的 GitHub 帝國聚集了各路的英雄好漢在此組隊練功解任務，不知道怎麼起步的初心者們快來新手村吧！
          </p>
          <p>
            課堂前請先註冊 GitHub 帳號成為 GitHub 帝國中的一員。若您使用自己的筆電請向 NPC 領取新手裝備完成 Git 相關環境安裝。
          </p>
          <div class="meta">
            <span class="label">時間</span> 2013 年 10 月 2 日 18:00 - 21:00,
            <span class="label">地點</span> 政治大學大仁樓 4 樓 - 200401 PCLab,
            <span class="label">詳細資訊</span> <a href="http://www.openfoundry.org/tw/activities/details/395" target="_blank">報名頁面</a>
          </div>
        </dd>
      </div>
    </dl>

  </article>
</div>
